@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/reset';
@import 'components/chat';
@import 'components/message';
@import 'components/input';

.app {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}